.container-fluid .row{
    margin-top: 20px;
}

#summary,#team, #downloads, #devtools{
    margin-top: 70px;
}

#why img,h3{
    display: inline;
}

#why h2{
    margin-bottom: 20px;
}

#team p{
    margin-top:0px;
    margin-bottom: 0px;
}

#team img{
    height: 80px;
    margin-right: 10px;
}

#team .row{
    margin-bottom: 20px;
}

#translationTeam p{
    margin-top:0px;
    margin-bottom: 0px;
}

#translationTeam img{
    height: 40px;
    margin-right: 10px;
}

#translationTeam .row{
    margin-bottom: 20px;
}