body {
	background-color: black;
}
h1 {
	font-size: 36px; 
	font-family: Helvetica; 
	color: #CCCCCC;
	font-variant: small-caps;
	font-weight: lighter;
	letter-spacing: 10px;
	width: 40%;
	float: left;
	margin-left: 40px;
	margin-bottom: 40px;
}
a {
	font-family: Helvetica;
	font-variant: small-caps;
	color: #CCCCCC;
	font-size: 18px;
	font-weight: lighter;
	float: right;
	margin: 25px 5px 5px 5px;
	text-decoration: none;
	width: 10%;
}
img {
	margin-top: -25px;
}

footer{
	clear: both;
	width: 100%;
	color: #CCCCCC;
	font-family: Helvetica;
	font-size: 10px;
	font-weight: lighter;
	text-align: center;
	margin: 10px;

}
p {
	font-size: 12px; 
	font-family: Helvetica; 
	color: #CCCCCC;
	font-weight: lighter;
	float: left;
	margin-left: 40px;
	margin-bottom: 40px;
}