body {
	width: 100%;
	margin: 0 auto;
}
h1 {
	text-align: center;
	margin: 20px;
	padding: 30px;
}
.portfoliolink:hover {
	background-color: rgb(233,150,122);
}
.block1 {
	display: inline-block;
	height: 300px;
	width: 100%;
	background-color: rgb(174, 216, 230);
	font-family: Courier New;
	font-size: 30pt;
	color: rgb(233,150,122);
	font-variant: small-caps;
	font-weight: lighter; 
	text-align: center;
	line-height: 7em;
	letter-spacing: 2px;
}
.block2 {
	display: inline-block;
	height: 600px;
	width: 100%;
	background-color: rgb(174, 216, 230);
	font-family: Courier New;
	font-size: 30pt;
	color: rgb(233,150,122);
	font-variant: small-caps;
	font-weight: lighter; 
	text-align: center;
	line-height: 14em;
	letter-spacing: 2px;
}
.block3 {
	display: inline-block;
	height: 200px;
	width: 100%;
	background-color: rgb(174, 216, 230);
	font-family: Courier New;
	font-size: 20pt;
	color: rgb(233,150,122);
	font-variant: small-caps;
	font-weight: lighter; 
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	letter-spacing: 2px;
	vertical-align: baseline;
}
.previousexperience {
	display: inline-block;
	height: 200px;
	width: 100%;
	background-color: rgb(174, 216, 230);
	font-family: Courier New;
	font-size: 30pt;
	color: rgb(233,150,122);
	font-variant: small-caps;
	font-weight: lighter; 
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	letter-spacing: 2px;
}
.wrapper {
	width: 100%;
	margin: auto;
}
.row {
	width: 100%;
	display: inline-block;
}
.thirdwidth {
	width: 33%;
	float: left;
}
.halfwidth {
	width: 50%;
	float: left;
}
.fullwidth {
	width: 100%;
	float: left;
}



@media screen and (max-width: 768px) {
body {
	width: 100%;
	margin: 0 auto;
}
img {
	width: 100%;
	height: auto;
}
div {
display: block;
}
.wrapper {
	width: 100%;
	margin: auto;
}
.row {
	width: 100%;
	display: inline-block;
}
.thirdwidth {
	width: 100%;
	float: left;
}
.halfwidth {
	width: 100%;
	float: left;
}
.fullwidth {
	width: 100%;
	float: left;
}
.quarterwidth {
	width: 100%;
	float: left;
}
}

/*@media screen and (max-width: 480px) {
body {
	width: 100%;
	margin: 0 auto;
}
img {
	width: 100%;
	height: auto;
}
div {
display: block;
}
.wrapper {
	width: 100%;
	margin: auto;
}
.row {
	width: 100%;
	display: inline-block;
}
.row img {
	float: left;
}
img {
width: 100%;
height: auto;
}
.halfwidth {
	width: 100%;
	float: left;
}
.fullwidth {
	width: 100%;
	float: left;
}
}*/
